@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
    background: rgba(0, 0, 0, 0.0001);
}

.navbar-list {
    text-align: center;
    font-family: 'Montserrat';
    text-transform: uppercase;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    margin-top: 25.5px;
}

.li-nav {
    display: inline-block;
    margin-right: 72px;
}

.nav-design {
    margin-right: 50px;
}

.nav-link {
    color: #FF0000;
    text-decoration: none;
}


.picture {
    background: url("../img/image1.png");
    height: 789px;
    width: auto;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}

.info-text {
    margin: 1px 0 40px 0;
}

.main-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align-last: center;
    margin-top: 48px;
    margin-left: 0;
    margin-bottom: 0;
}

.main-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-left: 67.5px;
    margin-right: 67.5px;
}

.main-p-one {
    margin-top: 38px;
    margin-bottom: 0;
}

.main-p-two {
    margin-top: 28px;
    margin-bottom: 0;
}

.start-button {
    background: #FF0000;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    margin-top: 66px;
}

.button-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 105px;
    margin: 18px 43.5px 17px 42.5px;
}

.footer-info {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    margin-top: 82px;
    margin-bottom: 29px;
    margin-right: 105px;
}